[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uilds/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
.env
.env.*
!*.example
TestResults/
Assets/Resources/PerformanceTestRun*.json*
Assets/InitTestScene*.unity*
